.login-component {
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-size: cover;
    background-position: center;
}
.login-modal {
    display: flex;
    box-sizing: border-box;
    width: 75%;
    margin: 0 auto;
    max-width: 900px;
    background: var(--bright-color);
    border-radius: 0.25rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.login-left {
    padding: 60px 16px;
    width: 40%;
    background-size: cover;
    background-position: center;
    color: var(--bright-color);
    padding: 60px;
    background-color:var(--dark-shadow-color);
    background-blend-mode: color;
}
.login-right {
    padding: 60px 16px;
    width: 60%;
}
.form-alert {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid green;
}