/* text.module.css */

.text {
  margin: 0;
  padding: 0;
}
.badge {
  padding: 6px 12px;
  font-size: 12px;
  line-height: 10px !important;
  height: auto;
  border-radius: 25px;
}

.primary {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.3rem;
  margin: 0 0 1.3rem;
}

.secondary {
  color: var(--dark-color);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  margin: 0 0 1rem;
}

.headline {
  color: var(--bright-color);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  margin: 0 0 1rem;
}

.legend {
  color: var(--primary-color);
  font-weight: 200;
  font-size: 0.7rem;
  line-height: 0.7rem;
  font-style: italic;
  padding: 0 4px;
  margin: 0 0 0.7rem;
}

.warning {
  color: var(--secondary-color);
  font-weight: 300;
  font-size: 1rem;
  line-height: 1rem;
  margin: 1rem 0 0;
}

.reminder {
  color: var(--primary-color);
  font-weight: 300;
  font-size: 1rem;
  line-height: 1rem;
  margin: 1rem 0 0;
}