/* notificationBanner.module.css */
.notificationBanner {
  width: 100%;
  text-align: center;
  position: relative;
}

.notificationContent h2 {
  text-align: left;
}

.notificationContent ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notificationContent li {
  display: flex;
}

.notificationContent li p {
  padding-left: 16px;
  color: var(--bright-color);
  text-align: left;
  font-size: 1rem;
  line-height: 1rem;
}

.notificationContent li p span {
  font-weight: bold;
  color: var(--primary-color);
}

.notificationContent li+li {
  margin-top: 0.5rem;
}

li button {
  position: relative !important;
  top: 0 !important;
  right: 0 !important;
  line-height: 18px !important;
}