.form-input-container {
    width: 100%;

}
.doubleInputLine {
    display: flex;
    gap: 12px;
}
label.checkbox-label {
    display: inline-block;
}
form.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    padding: 2rem;
    background: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form.form-container label {
    font-weight: 500;
    color: var(--dark-color);
}

form.form-container input,
form.form-container select,
form.form-container textarea {
    width: 100%;
    padding: 0.75rem;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    background: var(--bright-color);
    color: var(--dark-color);
    transition: border-color 0.15s ease-in-out;
}

form.form-container input:focus,
form.form-container select:focus,
form.form-container textarea:focus {
    border-color: var(--bright-color);
    outline: none;
    box-shadow: 0 0 5px var(--primary-color);
}

form.form-container .checkbox-container,
form.form-container .radio-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

form.form-container button {
    align-self: center;
    width: 100%;
    max-width: 320px;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

form.form-container button.primary-button {
    background-color: var(--primary-color);
    color: var(--bright-color);
    border: none;
}

form.form-container button.primary-button:hover {
    background-color: var(--dark-color);
    color: var(--primary-color);
}

form.form-container button.secondary-button {
    background-color: var(--dark-color);
    color: var(--primary-color);
    border: none;
}

form.form-container button.secondary-button:hover {
    background-color: var(--primary-color);
    color: var(--dark-color);
}

form.form-container .error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.checkbox-container input[type="checkbox"] {
    width: auto;
    margin-right: 0.5rem;
}