.formInputContainer {
    width: 100%;
}

.doubleInputLine {
    display: flex;
    gap: 12px;
}

.checkboxLabel {
    display: inline-block;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    padding: 2rem;
    background: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formContainer label {
    font-weight: 500;
    color: var(--dark-color);
}

.formContainer input,
.formContainer select,
.formContainer textarea {
    width: 100%;
    padding: 0.75rem;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    background: var(--bright-color);
    color: var(--dark-color);
    transition: border-color 0.15s ease-in-out;
}

.formContainer input:focus,
.formContainer select:focus,
.formContainer textarea:focus {
    border-color: var(--bright-color);
    outline: none;
    box-shadow: 0 0 5px var(--primary-color);
}

.formContainer .checkboxContainer,
.formContainer .radioContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.formContainer button {
    align-self: center;
    width: 100%;
    max-width: 320px;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.formContainer .primaryButton {
    background-color: var(--primary-color);
    color: var(--bright-color);
    border: none;
}

.formContainer .primaryButton:hover {
    background-color: var(--dark-color);
    color: var(--primary-color);
}

.formContainer .secondaryButton {
    background-color: var(--dark-color);
    color: var(--primary-color);
    border: none;
}

.formContainer .secondaryButton:hover {
    background-color: var(--primary-color);
    color: var(--dark-color);
}

.formContainer .errorMessage {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.checkboxContainer input[type="checkbox"] {
    width: auto;
    margin-right: 0.5rem;
}

.whiteTitle,
.whiteTitle span {
  color: white !important;
}
.errorMessage {
    color: var(--secondary-color);
}