/* dashboardFamilyCard.module.css */
.familyMain h3.title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
}
.familyCards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: stretch;
    padding-left: 16px;
}
.familyCards h2 {
    margin: 0;
}