
.topbar {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-color);
    color: var(--bright-color);
    padding: 10px 20px;
    box-shadow: 0 2px 4px var(--dark-light-shadow-color);
    font-family: Arial, sans-serif;
}

.topbar a {
    color: var(--primary-color);
    text-decoration: none;
}

.topbar h1, .topbar h2 {
    margin: 0;
    font-size: 1.8rem;
    color: var(--bright-color);
}

.topbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.logoutLink a {
    color: var(--secondary-color);
}

.logoutLink a:hover {
    color: var(--secondary-color);
}

@media (max-width: 768px) {
    .topbar {
        text-align: center;
    }

    .topbar ul {
        margin-top: 10px;
        flex-direction: column;
        gap: 10px;
    }
}

.breadcrumbs {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 12px;
}