/* dashboardPetCard.module.css */
.petMain h3.title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
}
.petCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
    gap: 32px; 
    margin: 0 0 2rem;
}

.petCardsFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 2rem;
}

.cardInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: stretch;
}

.cardInfo p {
    width: 50%;
    margin: 0;
}

.buttonBox {
    position: relative;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: center;
}

.buttonOptions {
    position: absolute;
    left: 99%;
    padding: 6px;
    transform: translateX(-100%);
    color: white;
    margin-left: 12px;
    height: 0%;
    z-index: -1;
}

.buttonBox:hover .buttonOptions {
    position: absolute;
    display: flex;
    left: 100%;
    transform: translateX(-100%);
    width: fit-content;
    height: fit-content;
    bottom: 100%;
    padding: 0 0 3px;
    color: white;
    z-index: 9;
    transition: all 0.3s ease-in-out;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0;
}


.buttonOptions button + button {
    margin-left : 12px;
}