/* highlightText.module.css */
.highlightText {
    margin: 0;
    padding: 0;
    display: block;

  }
  
  .highlightText.primary {
    color: var(--dark-color);
    font-weight: 500;
    font-size: 2rem;
    line-height: 2rem;
    margin: 0 0 1rem;
  }
  
  .highlightText.secondary {
    color: var(--dark-color);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 0 0 1.5rem;
  }
  
  .highlightText.headline span {
    color: var(--dark-color);
    font-weight: 200;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-style: italic;
    padding: 0 4px;
    margin: 0 0 1.2rem;
  } 